body {
    font: normal 18px/1.5 "Times New Roman";
    background: darkcyan;
    color: black;
    min-width: 960px;
    color:orange;

}

html {
    background: darkcyan;
}
.container {
   /*  max-width: 960px;
    display: flex;
    justify-content: center;
    margin-left: 300px; */

}

.header {
    width: 960px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    text-decoration-line: underline ;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
  }